<img src="/core/misc/throbber-active.gif" style="display: none;" class="loader">
{{ content|raw }}
<div id="inventory-add-done" style="display:none;">Inventory done. <a href="/magnet/inventory">Go to inventory page.</a></div>