{% for month, tuner in content %}
  <div class="month-block">
  <h4> {{ month }} </h4>
  {% for tuner_name, tunes in tuner[1] %}
    <div class="tuner-block">
    <div class="tuner">{{ tuner_name }}</div>
    {% for purpose, count in tunes %}
      <div>{{ purpose }}: {{ count }}</div>
    {%  endfor %}
    </div>
  {% endfor %}
  </div>
{% endfor %}
