<div id="button-wrapper">
	<div id="button-dreams" class="calendar-buttons active">DREAMS</div>
	<div id="button-reality" class="calendar-buttons active">REALITY</div>
</div>
<div id="calendar">
{{ header |raw }}
{{ content|raw }}
</div>